.section-about {
  background-color: $color-grey-light-1;
  padding-top: 8rem;
  padding-bottom: 7rem;
}
.skill {
  position: relative;
  padding: 7rem 0;
}

.sections-project {
  background-color: $color-grey-light-1;
  padding: 7rem 0;
}
