.header {
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-secondary-light),
    url(./../img/hero.png);
  height: 100vh;
  background-size: cover;
  background-position: top;
  position: relative;

  &__text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
